*{
    padding: 0;
    margin: 0;
}

a{
    color: gray;
}

i{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

header > div{
    
    padding: 0 190px;
}

h4{
    margin: 20px 0;
}

select{
    width: 60% !important;
    height: 40px !important;
}

input{
    width: 60% !important;
    height: 50px !important; 
    border-radius: 4px;
    border: 1px solid gray;
}

input[type="radio"]{
    width: 4% !important;
}

.container{
    margin-bottom: 35px;
}


.state{
    width: 90px !important;
}

.hiddene {
  visibility: hidden;  
}

.visiblee {
    color: gray;
       background: #eee; 
    height: 80px;
  visibility: visible;
}

.leftH {
  display: none;  
}

.leftV {
  display: block !important;
}

.header_textH {
  display: none;  
}

.header_textV {
  display: block !important;
}

.section-login{
    
    width: 100%;
    text-align: center;
    margin-top: 10%;
}

.section-login > form > div{
    width: 380px;
    margin: auto;
    padding: 7px; 

}

.section-login > form > .inputs{
        display: flex;
    justify-content: flex-end
}

.inputs > label{
    flex: 1;
    text-align: left
}


.input-login{
    border: 2px solid gray;
    width: 60%;
    padding: 5px;
    margin: auto
}


.button_default{
    display: block;
    margin: auto;
    width: 65%;
    border: none;
    background: gray;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.list-league{
    margin: auto;
    width: 100%;
    margin-top: 10px;
}

.list-league, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
.list-league tr:nth-child(even) {
    background-color: #eee;
}
.list-league tr:nth-child(odd) {
   background-color:#fff;
}
.list-league th	{
    background-color: black;
    color: white;
}


.list-teams{
    margin: auto;
    width: 90%;
    margin-top: 10px;
}

.list-teams, th, td {
    border: 1px solid transparent;
    border-collapse: collapse;
        padding: 8px;
    text-align: center;
}

.list-teams, th {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.list-teams tr:nth-child(even) {
    background-color: #eee;
}
.list-teams tr:nth-child(odd) {
   background-color:#fff;
}


.content-create > div div{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    
}

#box-color-1{
    width: 59px !important;
    height: 30px;
}

#box-color-2{
    width: 59px !important;
    height: 30px;
    
}

.form-control{
    height: 50px !important;
}

.btn-primary{
    background-color: gray !important;
    border-color: gray !important;
    height: 50px;
    line-height: 35px;
}

.btn-default{
    width: 150px;
    margin: auto;
}

.set{
    background-color: gray !important;
    color: #FFF;
}

.input-group{
    width: 200px;
    right: 40px;
}

.submit-league{
    text-align: center;
    margin-top: 20px;
}

.submit-listTeams{
    text-align: center;
}


.cont-location{
    width: 61%;
    display: flex;
    justify-content: space-around;
}

.location-league{
    width: 100% !important;
}

.radio-addteams{
    display: flex;
    align-items: center;
}

.form-teams{
    display: flex
}

.input-group-btn{
    width: 100% !important; 
}

.colors{
    flex: 1;
}


