<section class="addteams-league">
    
        <div class="row content-create">
            <div class="row">
               <form ng-submit="searchTeam()" class="add_team">
                    <div class="col-xs-6 radio-addteams">
                        <input type="radio" ng-model="education" value="highSchool">    
                        <label for="league-name">
                            High School
                        </label>
                        <input type="radio" ng-model="education" value="college"> 
                        <label for="league-name">
                            College
                        </label>
                        <md-autocomplete
                           required
                            md-selected-item="selectedItem" 
                            md-search-text="searchText" 
                            md-items="item in getTeams(searchText)" 
                            md-item-text="item" 
                            placeholder="Type team name"
                            class="type-team" 
                            id="type-team">
                            <span md-highlight-text="searchText">{{ item }}</span>
                        </md-autocomplete>
                    </div>
                    <div class="col-xs-6">
                        <select id="selected_team" class="form-control" ng-model="selected_team" required>
                            <option></option>
                            <option value="[2,1]">Junior Varsity boys</option>
                            <option value="[2,2]">Junior Varsity girls</option>
                            <option value="[1,1]">Varsity boys</option>
                            <option value="[1,2]">Varsity girls</option>
                            <option value="[3,1]">Freshman boys</option>
                            <option value="[3,2]">Freshman girls</option>
                        </select>
                        <button class="btn btn-default set" type="submit">Add</button>
                    </div>

                </form>
            </div>
            <h4>Or create a new team: </h4>
            <form ng-submit="add_team()">
                <div class="row">
                       <div class="col-xs-6">
                            <label for="team_name_save">
                                Team Name*
                            </label>
                            <input type="text" ng-model="team.name" class="team-name-league" id="team-name-league" required>
                        </div>
                        <div class="col-xs-6">
                            <label for="user-id-league">
                                User Name*
                            </label>
                            <input type="text" ng-model="team.username" id="user-id-league" required>
                        </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                       <input type="radio" ng-model="team.teamType" value="highSchool">    
                        <label for="league-name">
                            High School
                        </label>
                        <input type="radio" ng-model="team.teamType" value="college"> 
                        <label for="league-name">
                            College
                        </label>
                        <select id="selected_team" class="form-control" ng-model="level_gender" required>
                            <option></option>
                            <option value="[2,1]">Junior Varsity boys</option>
                            <option value="[2,2]">Junior Varsity girls</option>
                            <option value="[1,1]">Varsity boys</option>
                            <option value="[1,2]">Varsity girls</option>
                            <option value="[3,1]">Freshman boys</option>
                            <option value="[3,2]">Freshman girls</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <label for="password-team-league">
                            Password*
                        </label>
                        <input type="password" autocomplete="off" ng-model="team.password" id="password-team-league" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <label for="email-team-league">
                            Email*
                        </label>
                        <input type="email" autocomplete="off" ng-model="team.email" id="email-team-league" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default set">Add</button>
                    </div>
                </div>
            </form>
            <hr/>

                   <div class="row">
                        <table class="list-teams">
                            <tr class="thead">
                                <th>Team Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                            <tr remove-team ng-repeat="value in listTeams">
                                <td>{{ value.name }}</td>
                                <td>{{ value.username }}</td>
                                <td>{{ value.email }}</td>
                                <td><i class="fa fa-trash" ng-click="removeteam();removeteam2($index)"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="submit-listTeams">
                            <button ng-click="add_teams_to_league()" class="btn btn-default set">Save</button>
                            &ensp;&ensp;
                            <div ng-click="cancel_addteam()" class="btn btn-default">Cancel</div>
                        </div>
                    </div>
        </div>
        
        <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                      <div class="row content-create">
            <div class="row">
                
               <form ng-submit="add_user_team()" class="add_team">
                   <h4 class="title_add_team">Please complete the following information in order to add the team:</h4>
                    <div class="col-xs-12">
                        <label>
                            User Name*
                        </label>
                        <input type="text" ng-model="name_user_save" required>
                    </div>
                    <div class="col-xs-12">
                        <label>
                            Email*
                        </label>
                        <input type="email" ng-model="email_team_save" required>
                    </div>
                    <div class="col-xs-12">
                        <label>
                            Password*
                        </label>
                        <input type="password" ng-model="password_team_save" required>
                    </div>
                    <div class="col-xs-12">
                        <input type="hidden" ng-model="team_id">
                        <button class="btn btn-default set" type="submit">Add Team</button>
                    </div>
                </form>
            </div>
            
        </div>
            </div>
          </div>
        </div>


</section>
