<section class="addteams-league">
    
        <div class="row content-create">
            <div class="row">
               <form ng-submit="searchTeam()" class="add_team">
                    <div class="col-xs-6 radio-addteams">
                        <input type="radio" ng-model="education" value="highSchool">    
                        <label for="league-name">
                            High School
                        </label>
                        <input type="radio" ng-model="education" value="college"> 
                        <label for="league-name">
                            College
                        </label>
                        <md-autocomplete
                            md-selected-item="selectedItem" 
                            md-search-text="searchText" 
                            md-items="item in getTeams(searchText)" 
                            md-item-text="item" 
                            placeholder="Type team name"
                            class="type-team" 
                            id="type-team">
                            <span md-highlight-text="searchText">{{ item }}</span>
                        </md-autocomplete>
                    </div>
                    <div class="col-xs-6">
                        <select id="selected_team" class="form-control" ng-model="selected_team">
                            <option value="null"></option>
                            <option value="[2,1]">Junior Varsity boys</option>
                            <option value="[2,2]">Junior Varsity girls</option>
                            <option value="[1,1]">Varsity boys</option>
                            <option value="[1,2]">Varsity girls</option>
                            <option value="[3,1]">Freshman boys</option>
                            <option value="[3,2]">Freshman girls</option>
                        </select>
                        <button class="btn btn-default set" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <form>
                <div class="row">
                  <h4>Or create a new team: </h4>
                       <div class="col-xs-6">
                            <label for="team-name-league">
                                Team Name*
                            </label>
                            <input type="text" name="team-name-league" class="team-name-league" id="team-name-league">
                        </div>
                        <div class="col-xs-6">
                            <label for="user-id-league">
                                User ID*
                            </label>
                            <input type="text" name="user-id-league" class="user-id-league" id="user-id-league">
                        </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <label for="email-team-league">
                            Email*
                        </label>
                        <input type="email" autocomplete="off" name="email-team-league" id="email-team-league">
                    </div>
                    <div class="col-xs-6">
                        <label for="password-team-league">
                            Password*
                        </label>
                        <input type="password" autocomplete="off" name="password-team-league" id="password-team-league">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default set">Add</button>
                    </div>
                </div>
            </form>
            <hr/>
            <form>
               <div class="row">
                   <div class="col-xs-12">
                        <table class="list-teams">
                            <tr class="thead">
                                <th>Team Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="value in listTeams">
                                <td>{{ value.team_name }}</td>
                                <td>{{ value.user_id }}</td>
                                <td>{{ value.email }}</td>
                                <td><i class="fa fa-trash"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="submit-listTeams">
                            <button type="submit" class="btn btn-default set">Create</button>
                            &ensp;&ensp;
                            <button type="reset" class="btn btn-default">Cencel</button>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>


</section>
