<section class="create-league">
    <form ng-submit="create()">
        <div class="row content-create">
            <div class="row">
                <div class="col-xs-6">
                    <label for="league-name">
                        League Name*
                    </label>
                    <input type="text" ng-model="name" name="league-name" id="league-name" required>
                </div>
                <div class="col-xs-6">
                    <label for="type-league">
                        Type of League*
                    </label>
                    <select class="form-control" required ng-model="type">
                        <option value="{{ value.id }}" ng-repeat="value in type_league">{{ value.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="location-league">
                        Location (City, State)*
                    </label>
                    <div class="cont-location">
                        <input type="text" name="location-league" ng-model="city" class="location-league" id="location-league" required>
                        <select class="form-control state" ng-model="state" required>
                            <option value="{{ value.name }}" ng-repeat="value in stateList">{{ value.abrr }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="Founded-league">
                        League Founded Date*
                    </label>
                    <input type="text" id='datetimepicker4' ng-model="founded_date" required>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker4').datetimepicker();
                        });
                    </script>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    <label for="state-ass-league">
                        State Association*
                    </label>
                    <input type="text" name="state-ass-league" class="state-ass-league" id="state-ass-league" ng-model="state_ass" required>
                </div>
                <div class="col-xs-6">
                    <label for="section-dist-league">
                         Section/district*
                    </label>
                    <input type="text" name="section-dist-league" class="section-dist-league" id="section-dist-league" ng-model="section_dist" required>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-xs-6">
                    <label for="twitter-league">
                        Twitter Account (@user)
                    </label>
                    <input type="text" name="twitter-league" id="twitter-league" ng-model="twitter">
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="colors-league">
                                League Colors*
                            </label>
                        </div>
                        <div class="col-xs-4" style="display:flex; justify-content: space-around;">
                            <input type="text" id="box-color-1" ng-model="color_1" required>
                            <span id="box-color-1-span"></span>
                            <button id="choose-1">Choose</button>
                        </div>
                        <div class="col-xs-4" style="display:flex;">
                            <input type="text" id="box-color-2" ng-model="color_2" required>
                            <span id="box-color-2-span"></span>
                            <button id="choose-2">Choose</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="logo-league">
                        League Logo*
                    </label>
                    <img ng-src="{{ logo_url }}" width="150" >
                    <input type="file" accept="image/*" id="logo-img" class="filestyle" uploader-model="file_logo" data-buttonName="btn-primary" required>
                </div>
                <div class="col-xs-6">
                    <label for="photo-league">
                        League Photo*
                    </label>
                    <img ng-src="{{ photo_url }}" width="150" >
                    <input type="file" accept="image/*" id="browse-img" class="filestyle" uploader-model="file_photo" ng-model="file_photo" data-buttonName="btn-primary" required>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-6"> 
                     <label for="coordinator-league">
                        League Coordinator Name*
                    </label>
                    <input type="text" name="coordinator-league" id="coordinator-league" ng-model="coordinator" required>
                </div>
                <div class="col-xs-6">
                     <label for="title-league">
                        Tittle*
                    </label>
                    <input type="text" name="title-league" id="title-league" ng-model="title" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="email-league">
                        Email*
                    </label>
                    <input type="text" name="email-league" id="email-league" ng-model="email" required>
                </div>
                <div class="col-xs-6">
                    <label for="phone-league">
                        Phone Number*
                    </label>
                    <input type="text" name="phone-league" id="phone-league" ng-model="phone" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="school-league">
                        School:
                    </label>
                    <input type="text" name="school-league" id="school-league" ng-model="school">
                </div>
                <div class="col-xs-6">
                    <label for="address-office-league">
                        League Office Address:
                    </label>
                    <input type="text" name="address-office-league" id="address-office-league" ng-model="address">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 submit-league">
                <button type="submit" class="btn-create" class="btn btn-default set">Create</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</section>
