<table class="list-league">
    <tr>
        <th>League Name</th>
        <th>Number of Teams</th>
        <th>League Coordinator</th>
        <th>Games Played</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="value in listLeagues">
        <td>{{ value.name }}</td>
        <td>{{ value.number_of_teams }}</td>
        <td>{{ value.coordinator_name }}</td>
        <td>{{ value.games_played }}</td>
        <td><i class="fa fa-pencil" ng-click="create({{ value.id }})"></i> &ensp;&ensp;&ensp; <i class="fa fa-trash" ng-click="deleteLeague({{ value.id }})" ></i></td>
    </tr>
</table>